<h1>Editing rendersession</h1>

<%= form_for @rendersession do |f| %>
  <p>
    <%= f.label :num_slaves, "Number of slaves" %>:<br/>
    <%= f.text_field :num_slaves, :size => 3, :maxlength => 2 %>
  </p>
  <p>
    <%= f.label :run_time, "Run-time in hours" %>:<br/>
    <%= f.text_field :run_time, :size => 6, :maxlength => 5 %>
  </p>
  <p>
    <%= f.label :vm_type, "VM machine type" %>:<br/>
    <%= f.select(:vm_type, [ ["Mini", "t1.micro"], ["Large", "m1.large"], ["Extra Large (RAM)", "m1.xlarge"], ["Extra Large (Cores)", "c1.xlarge"] ]) %>
  </p>
  <p>
    <%= f.label :costs, "Costs in Euro" %>:<br/>
    <%= f.text_field :costs_disp, :size => 6, :maxlength => 5, :value => @rendersession.costs, :disabled => true %>
    <%= f.hidden_field :costs %>
  </p>

  <% if current_user.admin != nil && current_user.admin == true %>
  <p>
    <%= f.label :time_passed %><br />
    <%= f.text_field :time_passed %>
  </p>
  <p>
    <%= f.label :overall_time_passed %><br />
    <%= f.text_field :overall_time_passed %>
  </p>
  <p>
  <p>
    <%= f.label :start_timestamp %><br />
    <%= f.text_field :start_timestamp %>
  </p>
  <p>
    <%= f.label :stop_timestamp %><br />
    <%= f.text_field :stop_timestamp %>
  </p>
  <% end %>

  <%= f.submit "Update rendersession", :id => "createbutton", :disabled => true %>
<% end %>

<%= button_to "Calculate costs", "#", :class => "calc_button" %>


<br />
<%= link_to 'Back', {:controller => 'rendersessions' } %>

