<h1>Editing rendersession</h1>

<% form_for(@rendersession) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label 'Number of slaves' %><br />
    <%= f.text_field :num_slaves %>
  </p>
  <p>
    <%= f.label 'Run time in hours' %><br />
    <%= f.text_field :run_time %>
  </p>
  <p>
    <%= f.label 'VM machine type' %><br />
    <%= f.text_field :vm_type %>
  </p>
  <p>
    <%= f.label :payment_id %><br />
    <%= f.text_field :payment_id %>
  </p>
  <p>
    <%= f.label :time_passed %><br />
    <%= f.text_field :time_passed %>
  </p>
  <p>
    <%= f.label :costs %><br />
    <%= f.text_field :costs %>
  </p>
  <p>
    <%= f.label :start_timestamp %><br />
    <%= f.text_field :start_timestamp %>
  </p>
  <p>
    <%= f.label :stop_timestamp %><br />
    <%= f.text_field :stop_timestamp %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Back', {:controller => 'main', :action => 'cloudcontrol'} %>