<h2>Rendersessions</h2>

<%= form_tag :action => "set_active" %>

<table>
  <tr>
    <th>Number of slaves</th>
    <th>Run-time in hours</th>
    <th>VM machine type</th>
    <th>Costs in Euro</th>
    <th>Paid at</th>
    <th>Time passed</th>
    <th>Overall time passed</th>
    <th>Start timestamp</th>
    <th>Stop timestamp</th>
    <th>active</th>
    <th>activate</th>
  </tr>

<% @rendersessions.each do |rendersession| %>
  <tr>
    <td><%=h rendersession.num_slaves %></td>
    <td><%=h rendersession.run_time %></td>
    <td>
    <% if rendersession.vm_type == "t1.micro" %>
      Mini
    <% elsif rendersession.vm_type == "m1.large" %>
      Large
    <% elsif rendersession.vm_type == "m1.xlarge" %>
      Extra Large (RAM)
    <% elsif rendersession.vm_type == "c1.xlarge" %>
      Extra Large (Cores)
    <% else %>
      Unknown
    <% end %>
    (<%=h rendersession.vm_type %>)
    </td>
    <td><%=h rendersession.costs %></td>
    <td><%=h rendersession.paid_at.strftime("%Y-%m-%d %H:%M") %></td>
    <td><%=h Time.at(rendersession.time_passed).gmtime.strftime('%R:%S') %></td>
    <td><%=h Time.at(rendersession.overall_time_passed).gmtime.strftime('%R:%S') %></td>
    <td><%=h rendersession.start_timestamp %></td>
    <td><%=h rendersession.stop_timestamp %></td>
    <% if rendersession.active == true %>
      <td>yes</td>
      <td><%= radio_button_tag("id", rendersession.id, true) %></td>
    <% else %>
      <td>no</td>
      <td><%= radio_button_tag("id", rendersession.id, false) %></td>
    <% end %>
    <td>
    <%= link_to 'Show', rendersession %>
    <% if rendersession.paid_at == nil %>
      <%= link_to 'Edit', edit_rendersession_path(rendersession) %>
    <% end %>
    <% if (current_user.admin == true) && (rendersession.paid_at == nil) %>
      <%= link_to 'Destroy', rendersession, :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= button_to 'Set active' %>
<%= link_to 'New rendersession', new_rendersession_path %>