<h2>Rendersessions</h2>


<% if @rendersessions.length > 0 %>

<% if @rendersessions.length > 1 %>
  <%= form_tag :action => "set_active" %>
<% end %>

<table>
  <tr>
    <% if current_user.admin == true %>
    <th>User</th>
    <% end %>
    <th>Number of slaves</th>
    <th>Run-time in hours</th>
    <th>VM machine type</th>
    <th>Costs in Euro</th>
    <th>Paid at</th>
    <th>Time passed</th>
    <th>Overall time passed</th>
    <th>Start timestamp</th>
    <th>Stop timestamp</th>
    <th>active</th>
    <th>activate</th>
  </tr>

<% @rendersessions.each do |rendersession| %>
  <tr align="center">
    <% if current_user.admin == true %>
    <td><%=h User.find(rendersession.user).name rescue "unknown" %></td>
    <% end %>
    <td><%=h rendersession.num_slaves %></td>
    <td><%=h rendersession.run_time %></td>
    <td>
    <% if rendersession.vm_type == "t1.micro" %>
      Mini
    <% elsif rendersession.vm_type == "m1.large" %>
      Large
    <% elsif rendersession.vm_type == "m1.xlarge" %>
      Extra Large (RAM)
    <% elsif rendersession.vm_type == "c1.xlarge" %>
      Extra Large (Cores)
    <% else %>
      Unknown
    <% end %>
    (<%=h rendersession.vm_type %>)
    </td>
    <td><%=h rendersession.costs %></td>
    <% if rendersession.paid_at != nil %>
      <td><%=h rendersession.paid_at.strftime("%Y-%m-%d %H:%M") %></td>
    <% else %>
      <td>not yet</td>
    <% end %>
    <td><%=h Time.at(rendersession.time_passed).gmtime.strftime('%R:%S') %></td>
    <td><%=h Time.at(rendersession.overall_time_passed).gmtime.strftime('%R:%S') %></td>
    <td><%=h rendersession.start_timestamp %></td>
    <td><%=h rendersession.stop_timestamp %></td>
    <% if rendersession.active == true %>
      <td>yes</td>
      <% if rendersession.user == current_user.id.to_s %>
        <td><%= radio_button_tag("id", rendersession.id, true) %></td>
      <% else %>
        <td></td>
      <% end %>
    <% else %>
      <td>no</td>
      <% if rendersession.user == current_user.id.to_s %>
        <td><%= radio_button_tag("id", rendersession.id, false) %></td>
      <% else %>
        <td></td>
      <% end %>
    <% end %>
    <td align="left">
    <%= link_to 'Show', rendersession %>
    <% if rendersession.paid_at == nil %>
      <%= link_to 'Edit', edit_rendersession_path(rendersession) %>
    <% end %>
    <% if (current_user.admin == true) && (rendersession.paid_at == nil) %>
      <%= link_to 'Destroy', rendersession, :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />


<% else %>
<br />No rendersessions were found.<br />

<% end %>

<br /><br />


<% if @rendersessions.length > 1 %>
  <div style="float:left; width:auto;">
  <%= button_to 'Activate' %>
  </form>
  </div>
<% end %>

<%= button_to 'Request new rendersession', new_rendersession_path, :method => :get %>
