<% if current_user.admin != nil && current_user.admin == true %>
<h1>New rendersession</h1>
<% else %>
<h1>Request rendersession</h1>
<% end %>

<%= form_for @rendersession do |f| %>
  <p>
    <%= f.label :num_slaves, "Number of slaves" %>:<br/>
    <%= f.text_field :num_slaves, :size => 3, :maxlength => 2, :value => "1" %>
  </p>
  <p>
    <%= f.label :run_time, "Run-time in hours" %>:<br/>
    <%= f.text_field :run_time, :size => 6, :maxlength => 5, :value => "1" %>
  </p>
  <p>
    <%= f.label :vm_type, "VM machine type" %>:<br/>
    <%= f.select(:vm_type, [ ["Mini", "t1.micro"], ["Large", "m1.large"], ["Extra Large (RAM)", "m1.xlarge"], ["Extra Large (Cores)", "c1.xlarge"] ]) %>
  </p>
  <p>
    <%= f.label :costs, "Costs in Euro" %>:<br/>
    <%= f.text_field :costs_disp, :size => 6, :maxlength => 5, :value => "", :disabled => true %>
    <%= f.hidden_field :costs %>
  </p>

  <%= f.submit "Request rendersession", :id => "createbutton", :disabled => true %>
<% end %>

<%= button_to "Calculate costs", "#", :class => "calc_button" %>


<br />
<% if current_user.admin == true %>
<%= link_to 'Back', {:controller => 'main', :action => 'cloudcontrol'} %>
<% else %>
<%= link_to 'Back', {:controller => 'rendersessions' } %>
<% end %>
