<% if current_user.admin == true %>
<h1>New rendersession</h1>
<% else %>
<h1>Request rendersession</h1>
<% end %>

<% form_for(@rendersession) do |f| %>
  <%= 
  #f.error_messages
   %>

  <p>
    <%= f.label 'Number of slaves' %><br />
    <%= f.text_field :num_slaves, :size => 3, :maxlength => 2 %>
  </p>
  <p>
    <%= f.label 'Run-time in hours' %><br />
    <%= f.text_field :run_time, :size => 6, :maxlength => 5 %>
  </p>
  <p>
    <%= f.label 'VM machine type' %><br />
    <%= f.select :vm_type, "<option value='t1.micro'>Mini</option> <option value='m1.large'>Large</option> <option value='m1.xlarge'>Extra Large (RAM)</option><option value='c1.xlarge'>Extra Large (Cores)</option>" %>
  </p>
  <% if current_user.admin == true %>
  <p>
    <%= f.label :user %><br />
    <%= select("rendersession", "user", @profiles.map {|p| [p.name, p.id]}, :include_blank => true) %>
  </p>
  <p>
    <%= f.label :payment_id %><br />
    <%= select("rendersession", "payment_id", @payments.map {|p| [Profile.find_by_id(p.profile_id).name+" - "+p.paid_on.to_s+" - "+p.amount.to_s+" USD", p.id]}, :include_blank => true) %>
  </p>
  <p>
    <%= f.label :costs %><br />
    <%= f.text_field :costs, :size => 6 %>
  </p>
  <% end %>
  <p>
  <div id="costs"></div><br />
  
    <%= submit_to_remote 'calculate_costs', 'Calculate costs', :url => { :action => 'calculate_costs' }, :update => { :success => "costs" } %> <%= f.submit 'Create' %>
  </p>
<% end %>

<br />
<% if current_user.admin == true %>
<%= link_to 'Back', {:controller => 'main', :action => 'cloudcontrol'} %>
<% else %>
<%= link_to 'Back', {:controller => 'profiles', :action => 'show', :id => session[:profile].id } %>
<% end %>
