
<div style="text-align:right; width:100%">
</div>

<div style="color:red"><%= flash[:notice] %></div>

<% if params[:id] == 'all' %>
<h2>All jobs</h2>

<br /><br />

Jobs created with DrQueueOnRails:<br />
<% else %>
<h2>My jobs</h2>

<br /><br />
<% end %>

<% if @jobs_db.length > 0 %>

<table border="1" style="border-width:1px; border-style:solid; border-color:black;">
  <tr>
  <th>Id</th>
  <th>Name</th>
  <th>Owner</th>
  <th>Status</th>
  <th>Frames left</th>
  <th>Frames done</th>
  <th>Frames running</th>
  <th>Average frame time</th>
  <th>Startframe</th>
  <th>Endframe</th>
  <th>Blocksize</th>
  </tr>
  
<% for job in @jobs_db %>
  <tr>
  <td><%= job._id %></td>
  <td><%= link_to job.name, :action => 'show', :id => job._id %></td>
  <td><%= job.owner %></td>  
  <td>don't know yet</td>
  <td style="text-align:center;">don't know yet</td>
  <td style="text-align:center;">don't know yet</td>
  <td style="text-align:center;">don't know yet</td>
  <td style="text-align:center;">don't know yet</td>
  <td><%= job.startframe %></td>
  <td><%= job.endframe %></td>
  <td><%= job.blocksize %></td>
  </tr>
<% end %>
</table> 

<% else %>
<br />
Read the tutorials page before creating your first job!
<br /><br />
<br />No jobs were found.<br />
<% end %>


<br /><br />
<% if params[:id] != 'all' %>
<%= button_to 'Create a new job', :action => 'new' %> 
&nbsp;&nbsp;

<br /><br />


<% end %>
