
<div style="text-align:right; width:100%">
</div>

<div style="color:red"><%= flash[:notice] %></div>

<% if params[:id] == 'all' %>
<h2>All jobs</h2>

<br /><br />

Jobs created with DrQueueOnRails:<br />
<% else %>
<h2>My jobs</h2>

<br /><br />
<% end %>

<% if @jobs.length > 0 %>

<table border="1" style="border-width:1px; border-style:solid; border-color:black;">
  <tr>
  <th>ID</th>
  <th>Name</th>
  <th>Owner</th>
  <th>Status</th>
  <th>Total tasks</th>
  <th>Tasks left</th>
  <th>Done</th>
  <th>Pool</th>
  </tr>
  
<%
for job in @jobs
  total_tasks = job.endframe - job.startframe + 1
  tasks_left = $pyDrQueueClient.query_job_tasks_left(job._id.to_s).rubify
  # hide email task if existing
  if job.send_email && tasks_left > 0
    tasks_left -= 1
  end
  if tasks_left > 0
    diff_tasks = tasks_left.to_f / total_tasks.to_f
  else
    diff_tasks = 0
  end
  tasks_done = 100 - (diff_tasks * 100)
  pool = job.limits['pool_name']
  if pool == nil
    pool = "not set"
  end
  owner_name = User.find(job.owner).name
%>
  <tr>
  <td><%= job._id %></td>
  <td><%= link_to job.name, :action => 'show', :id => job._id.to_s %></td>
  <td><%= owner_name %></td>
  <td><%= $pyDrQueueClient.job_status(job._id.to_s) %></td>
  <td style="text-align:center;"><%= total_tasks %></td>
  <td style="text-align:center;"><%= tasks_left %></td>
  <td width="100px"><div style="background-image:url(<%= image_path 'progress_bar.png' %>); width:<%= tasks_done %>px">&nbsp;</div></td>
  <td><%= pool %></td>
  </tr>
<% end %>
</table> 

<% else %>
<br />
Read the tutorials page before creating your first job!
<br /><br />
<br />No jobs were found.<br />
<% end %>


<br /><br />
<% if params[:id] != 'all' %>
<%= button_to 'Create a new job', {:action => 'new'}, {:method => 'get'} %>
&nbsp;&nbsp;

<br /><br />


<% end %>
