<%
pool = @job.limits['pool_name']
if pool == nil
  pool = "not set"
end
%>


<div style="color:red"><%= flash[:notice] %></div>

<br />
<h2>Job: <%= @job.name %></h2>
<br />

<table border="1">
<tr>
 <td>ID:</td>
 <td><%= @job._id %></td>
</tr>
<tr>
 <td>Owner:</td>
 <td><%= @owner_name %></td>
</tr>
<tr>
 <td>Status:</td>
 <td><%= $pyDrQueueClient.job_status(@job._id.to_s) %></td>
</tr>
<tr>
 <td>Submit time:</td>
 <td><%= Time.at(@job.submit_time) %></td>
</tr>
<tr>
 <td>Average render time per frame:</td>
 <td><%= @meantime.to_s %></td>
</tr>
<tr>
 <td>Time left:</td>
 <td><%= @time_left.to_s %></td>
</tr>
<tr>
 <td>Estimated finish time:</td>
 <td><%= @finish_time.to_s %></td>
</tr>
<tr>
 <td>Renderer:</td>
 <td><%= @job.renderer %></td>
</tr>
<tr>
 <td>Pool:</td>
 <td><%= pool %></td>
</tr>
</table>

<br /><br /><br />
Task list:<br /><br />

<table border="1">
<tr>
 <td>Task ID</td>
 <td>Frame</td>
 <td>Status</td>
 <td>Requeued</td>
 <td>Computer ID</td>
 <td>Start time</td>
 <td>Finish time</td>
 <td>Log</td>
 <% if (ENV['DQOR_SHOW_FRAME_IMG'] == "true") && (@job != nil)%>
 <td>Output Image</td>
 <% end %>
</tr> 
<%
index = 0
frame = @job['startframe'].to_i

@tasks.each do |task|
  tmsg_id = task['msg_id']
  theader = task['header']
  puts task['resubmitted']
  if task['completed'] == nil:
    status = "pending"
    computer = "Unknown"
    start_time = "Unknown"
    finish_time = "Unknown"
  else
    result_header = task['result_header']
    result_content = task['result_content']
    status = result_header['status']
    cpl = task['completed']
    #print("%s   %s  %s  %i-%02i-%02i %02i:%02i:%02i" % (tmsg_id, string.ljust(status, 8), string.ljust(username, 10), cpl.year, cpl.month, cpl.day, cpl.hour, cpl.minute, cpl.second))
    computer = task['engine_uuid'].to_s
    start_time = task['started'].to_s[0..18]
    finish_time = task['completed'].to_s[0..18]
  end
%>
	<tr>
	 <td title="<%= task['msg_id'].to_s %>"><%= task['msg_id'].to_s[0..7] + '…' %></td>
	 <td style="text-align:center;">
	 <%
	 if @job['blocksize'].to_i > 1
	   if frame + @job['blocksize'].to_i - 1 > @job['endframe'].to_i
	   %>
	     <%= frame.to_s + " - " + @job['endframe'].to_s %>
	   <% else %>
	     <%= frame.to_s + " - " + (frame + @job['blocksize'].to_i - 1).to_s %>
	   <% end %>
	 <% else %>
	   <%= frame.to_s %>
	 <% end %>
	 </td>
   <td style="text-align:center;"><%= status %></td>
   <td style="text-align:center;"><%= task['resubmitted'].to_s[0..18] %></td>
   <td title="<%= computer %>"><%= computer[0..7] + '…' %></td>
   <td><%= start_time %></td>
   <td><%= finish_time %></td>
   <td><%= link_to 'View log', :action => 'view_log', :id => @job._id.to_s, :nr => index %></td>
   <td>
     <% if status == "ok" %>
       <%= link_to 'View Output Image', :action => 'view_image', :id => @job._id.to_s, :nr => index %>
     <% else %>
       View Output Image
     <% end %>
   </td>
 </tr>
	<%
	index += 1
	if @job['blocksize'].to_i > 1
    frame += @job['blocksize'].to_i
  else
    frame += 1
  end
end
%>
</table>

<br /><br />

<div style="float:left;">
Control job: &nbsp;
</div>

<%
case $pyDrQueueClient.job_status(@job._id.to_s).to_s
	when "pending"
		%>
		<div id="ButtonDiv">
		<%= button_to 'Stop', {:action => 'stop', :id => @job._id.to_s}, {:title => "Stop running job. Queued tasks will be finished."} %></div>
		<div id="ButtonDiv">
		<%= button_to 'Kill', {:action => 'kill', :id => @job._id.to_s}, {:title => "Kill running job. All unfinished tasks will interupted."} %></div>
		<%
	when "ok"
		%>
		<div id="ButtonDiv">
		<%= button_to 'Rerun', {:action => 'rerun', :id => @job._id.to_s}, {:title => "Run finished job again."} %></div>
		<% if @job.created_with.to_s == "DrQueueOnRails" %>
		  <div id="ButtonDiv">
		  <%= button_to 'Download', {:action => 'download', :id => @job._id.to_s}, {:title => "Download renderings of job."} %></div>
		<% end %>
		<div id="ButtonDiv">
		<%= button_to 'Delete', {:action => 'destroy', :id => @job._id.to_s}, {:title => "Delete finished job.", :method => "delete", :confirm => 'Are you sure?'} %></div>
		<%
end
%>

<div>
<br /><br /><br />
<%= link_to 'Back', :controller => 'jobs' %>
</div>
