<h1>Editing payment</h1>

<% form_for(@payment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :profile_id %><br />
    <%= select("payment", "profile_id", @profiles.map {|p| [p.name,p.id]}) %>
  </p>
  <p>
    <%= f.label :paid_on %><br />
    <%= f.date_select :paid_on %>
  </p>
  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @payment %> |
<%= link_to 'Back', payments_path %>