<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>DrQueueOnRails - a webfrontend for DrQueue</title>
  <link rel="shortcut icon" href="<%= image_path '/favicon.ico' %>" type="image/x-icon" />
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>

<div id="nonFooter">

<div id="Header">

<div id="Logo">
<br />
<a href="<%= url_for :controller => 'main' %>"><img src="<%= image_path 'weasel_small.png' %>" style="margin-left:20px; text-align:center;" border="0" alt="drqueue logo" /></a>
</div>

<div id="DrQueueOnRails">
<br /><br />
DrQueueOnRails<br />
a webfrontend for DrQueue
</div>

<!--MAC-HEADER-CHECK-->
<% if request.env['HTTP_USER_AGENT'] =~ /mac/i %>
	<div id="HeaderSpacer2"></div>
<% else %>
	<div id="HeaderSpacer"></div>
<% end %>

<ul>
menu
</ul>
</div>


<div id="Content">
<br /><br />

<%= yield %>

</div>

</div>


<div id="Footer">
DrQueueOnRails Version 0.2 (<%= APP_VERSION.gsub(':','').rstrip %>)&nbsp;&ndash;&nbsp;2007-2011 Andreas Schr&ouml;der<br />
powered by <a href="http://www.drqueue.org" target="_blank">DrQueue</a> and <a href="http://www.rubyonrails.org" target="_blank">Ruby On Rails</a>
<br /><br />
</div>

</body>
</html>

